body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#calculator{
  gap: 8px;
  flex: 1;
  background: gray;
  padding: 8px;
}

#display{
    display: flex;
    justify-content: right;
    width: 25%;
    background: white;
}

.button-row{
    display: flex;
    gap: 8px;
}

button{
    padding: 32px;
    margin: 2px;
    box-sizing: border-box;
    width: 5%;
    height: 5%;
}